header {
	background:#BC5858;
	height:7%;
	width:100%;
}

button {
	display:inline;
	background:#E4F0EF;
	border-color:black;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	height:30px;
	width:28%;
	margin-left: 10%; 
	margin-right:10%;
	margin-bottom: 2%;
	font-size:1.2em;

}

h1 {
	display: inline-block; 
	margin-left:15%;
	font-family: gill sans;
	font-size:1.2em;
	color:white;
}

h2 {
	font-size: 1.2em;
	color:white;
	margin-left:3%;
}

ul {
	font-size: 1em;
	line-height: 200%;
	margin-left: auto;
	margin-right:auto;

}

p {
	font-size:1.5em;
	margin-left: 3%;
	margin-right: 3%;
}

section {
	margin-top: 0%;
	background-image: url("background_home.png");
	background-repeat:no-repeat;
	background-size:contain;

}



.container-1{
  width: 96%;
  height: 4em;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

#search {
	width:96%;
	height:4em;
	margin-top: 3%;
	margin-left:3%;
}

footer {
	display:block;
	width:100%;
	margin-top: -310%;
	padding-top:4%;
	padding-bottom: 4%;
	background: #5D90CB;
}

#dropdown {
	display:none;
}

#pokeball {
	display:none;
}

#indexpic {
	display:inline-block;
	margin-top:35%;
	margin-left: 2%;
	

}

.indexx {
	width:46%;
	border:3px solid black;
	padding:0px;
}



#listdiv {
	float:none; 
	margin-right:2%;
	border-color:gray;
	border-style:solid; 
	border-width:0.5px; 
	width:96%;
	height:25%;
	background:white;
	margin-top: 56%;
}


#no001div {
	display:block;
	float:none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	border-color:gray;
	border-style: solid;
	border-width:0.5px;
	width:94%;
	height:3em;
	background-color:#6594C2;
}


#pikachu {
	float:below;
	display: block;
	margin-left: 30%;
	margin-top: 13%;
	width:40%;
}

#dropdownbutton {
	display:none;
}

/*hamburger button*/
.menu-btn:hover {
  background-color: #f4f4f4;
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 20px 16px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}