{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to ACME Aircraft Parts</h1>
      <div class= "section">
        <a href="{{ url_for('create_customer') }}">Add a Customer</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>These are all of our awesome customers:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="order_now">Order</th>
              <th data-field="first_name">First Name</th>
              <th data-field="last_name">Sur Name</th>
              <th data-field="company">Company</th>
              <th data-field="email">Email</th>
              <th data-field="phone">Mobile</th>
              <th data-field="street_address">street</th>
              <th data-field="city">city</th>
              <th data-field="state">state</th>
              <th data-field="country">country</th>
              <th data-field="zipcode">zipcode</th>
            </tr>
          </thead>
          {% set i = 0 %}
          {% for customer in customers %}
            <tr>
              <td rowspan = {{ numbers[i] + 1 }}><a href="{{ url_for('create_order', value=customer['customer_id']) }}">Add Order</a></td>
              <td rowspan = {{ numbers[i] + 1 }}>{{ customer['first_name'] }}</td>
              <td rowspan = {{ numbers[i] + 1 }}>{{ customer['last_name'] }}</td>
              <td rowspan = {{ numbers[i] + 1 }}>{{ customer['company'] }}</td>
              <td rowspan = {{ numbers[i] + 1 }}>{{ customer['email'] }}</td>
              <td rowspan = {{ numbers[i] + 1 }}>{{ customer['phone'] }}</td>
              {% for addr in address %}
                {% if customer["customer_id"]==addr["customer_customer_id"] %}
                <tr>
                  <td>{{ addr['street_address'] }}</td>
                  <td>{{ addr['city'] }}</td>
                  <td>{{ addr['state'] }}</td>
                  <td>{{ addr['country'] }}</td>
                  <td>{{ addr['zip_code'] }}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </tr>
            {% set i = i + 1 %}
          {% endfor %}
        </table>
      </div>
      <div class="section">
        <h3>Orders from Customers:</h3>
 <table class="striped">
            <thead>
              <tr>
                <th data-field="first_name">First Name</th>
                <th data-field="last_name">Last Name</th>
                <th data-field="name_of_part">Name of Part</th>
                <th data-field="manufacturer_of_part">Manufacturer Of Part</th>

              </tr>
            </thead>
            {% for order in orders %}
              <tr>
                <td rowspan = {{ order['orders'] | length + 1 }} >{{ order['first_name'] }}</td>
                <td rowspan = {{ order['orders'] | length + 1 }} >{{ order['last_name'] }}</td>
                {% for ord in order['orders'] %}
                <tr>
                  <td>{{ ord['name_of_part'] }}</td>
                  <td>{{ ord['manufacturer_of_part'] }}</td>
              </tr>
               {% endfor %}

              </tr>
            {% endfor %}
          </table>
      </div>
    </div>
  </div>
{% endblock %}